/* 
https://raw.githubusercontent.com/rohjs/bugless-101/cc64c9b6e3b2b5a230bd0b0507c2e2fe9ec0a2e5/css-basic/position-3/templates/assets/icon-close.svg
*/

* {
  font-family: Mulish;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.profile {
  padding: 32px 40px;
  width: 386px;
  margin: 50px auto;
  background-color: white;
  text-align: center;
  border-radius: 16px; 
}

img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 16px;
}

h1 {
  color: #273444;
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 18px;
}

p {
  font-size: 14px;
  margin-bottom: 32px;
  color: #8492A6;
}

.profile-detail {
  display: flex;
  justify-content: space-between;
}

dt {
  color: #8492A6;
  margin-bottom: 4px;
}

dd {
  font-size: 32px;
  line-height: 40px;
  color: #0066FF;
}