* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  padding: 20px;
}

.card-user {
  float: left;
  margin: 0 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.card-content {
  float: left;
}

h1 {
  color: #1F2D3D;
  font-size: 16px;
}

strong {
  color: #AFB3B9;
  font-size: 14px;
}

p {
  margin-top: 12px;
  color: #79818B;
  font-size: 16px;
}