* {
  font-family: Noto Sans CJK KR;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: -0.015em;
}

html {
  background-color: black;
}

body {
  margin: auto;
  width: 736px;
  height: 900px;
  padding: 48px;
  background-color: white;
}

h1 {
  color: #151B26;
  size: 34px;
  margin-bottom: 48px;
}

h2 {
  font-weight: 400;
  color: #151B26;
  size: 28px;
  margin-bottom: 24px;
}

span {
  color: #FF5216;
}

h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  margin-bottom: 32px;
}